@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("@/assets/images/br01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: system-ui;
    color: white;
}